{% extends 'base.html' %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<style>
  body {
      font-family: 'Montserrat', sans-serif;
      line-height: 1.6;
      font-size: large;
      margin: 0;
      padding: 0;
      
  }
  header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
  }
  main {
      padding: 20px;
  }
  h1 {
      margin-bottom: 20px;
  }
  h2 {
      margin-top: 30px;
  }
  main img {
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    
    display: block;
  }
  p {
      margin-bottom: 20px;
  }
  ul {
      list-style: none;
      padding: 0;
  }
  ul li {
      margin-bottom: 10px;
  }
  .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 20px;
  }
  .gallery img {
      width: 100%;
      height: auto;
      border-radius: 10px;
  }
</style>
</head>
<body>
<header>
  <h1>Men in White</h1>
  
</header>

<main>
  <div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Men_in_white_poster_1934.jpg" alt="Description of the image"  style="color: #fff; padding: 10px; margin: 0 auto; width: 900px; height: 800px; display: block;">    
    </div>
    <h2>Introduction:</h2>
    <p>
        Men in White is a 1934 pre-Code film starring Clark Gable and Myrna Loy, and directed by Ryszard Bolesławski. The story is loosely based on the Sidney Kingsley Pulitzer-Prize-winning play of the same name. Due to suggestions of illicit romance and abortion, the film was frequently cut. The Legion of Decency declared the movie unfit for public exhibition.
    </p>
    
    <h2>Plot:</h2>
    <p>
        <p>Encouraged by his mentor, the eminent Dr. Hochy Hochberg (Jean Hersholt), George Ferguson (Clark Gable), a dedicated young doctor, places his patients above everyone else in his life. However, his Social Register fiancée, Laura Hudson (Myrna Loy), grows weary of the constant interruptions and demands on his time—even cutting short their wedding rehearsal. (The long hours and scanty pay endured not only by interns but practicing physicians is a recurrent theme in this film.)</p>
        <p>At the end of a long, devastating day that includes the loss of a patient, George calls Laura, expecting to spend the evening with her, but she angrily tells him to leave her alone. An English student nurse, Barbara Denham (Elizabeth Allan), comes to his room to borrow some notes. They talk about how deeply the closeness of death affected them. She stays behind in his room. Some time later, Barbara is brought to the operating room for emergency surgery, presumably to deal with the results of a botched abortion. Hochy has arranged for Laura to watch George at work so she can see how important his career is. Before the anesthetist puts her under, Barbara tells George she loves him.</p>
        <p>George plans to marry Barbara to salvage her reputation, but she develops a blood clot that will be fatal. Hochy apologizes for teaching Laura a harsher lesson than he planned, and brings her to Barbara, who tells Laura about her single encounter with George. Laura realizes that “it was that night,” the night she was not there for him. George is with Barbara when she dies. (Barbara's eyes remain open for some time after she dies, until George gently closes them.)</p>
        <p>In the end, George will go to Europe, fulfilling Hochy's plans for his brilliant future. Laura will also go there, hoping George will find time for her.</p>
        <p>One thread of the story involves diabetic hypoglycemia: Two doctors have a conflict at the bedside of a young girl who is desperately ill. George diagnoses (correctly) that the patient is in insulin shock (needing glucose), while the senior doctor, Dr. Cunningham—who has prescribed too much insulin—insists she is in a diabetic coma (needing insulin). George prevails and the child recovers.</p>
    
    </p>

    <h2>Censorship:</h2>
    <p>
        Although there were no overt references to abortion in the original script the Hays Office found the story to be in violation of the Production Code because they believed that there were clear indications that Barbara Denham's illness was brought about by an attempted abortion. Ultimately, MGM cut some lines to accommodate their concerns. Despite these changes there were protests against the film by moral reformers and religious groups. Men in White was one of the first films condemned by the newly formed Legion of Decency  
    </p>
    
    <h2>Reception:</h2>
    <p>
      "Men in White" was successful at the box office, earning $1.45 million in worldwide rentals. Despite the controversy surrounding its themes, the film's compelling storyline and performances contributed to its commercial success.
    </p>
    
    <h2>Radio Adaptation:</h2>
    <p>
      A sanitized adaptation of "Men in White" was presented on the Lady Esther Screen Guild Theatre on CBS in 1943, featuring Jean Hersholt, James Craig, and Louise Allbritton.
    </p>

      <!-- YouTube Trailer -->
   <h2>Watch the Trailer</h2>
   <div class="video-container">
       <iframe width="760" height="415" src="https://www.youtube.com/embed/yRby4KNau8U" frameborder="0" allowfullscreen></iframe>
   </div>

   <h2>Pics from movie</h2>
   <div class="container gallery">
    <!--<img src="{% static 'path_to_your_image.jpg' %}" alt="Description of the image">-->
     <img src="https://m.media-amazon.com/images/M/MV5BNWViNDE5YjItODYxMy00ZWQzLTg2OGItMWU1ZjJmZTZiZGNiXkEyXkFqcGdeQXVyODc1NDEwNzQ@._V1_.jpg" alt="Description of the image">
     <img src="https://m.media-amazon.com/images/M/MV5BYzEzZGEzZjItYjM4ZS00M2ZmLWFhZGUtZTliMjA5ODU5ZmE4XkEyXkFqcGdeQXVyMTcyODY2NDQ@._V1_.jpg" alt="Description of the image">
     <img src="https://m.media-amazon.com/images/M/MV5BMTI0NDdkY2MtNWZlMC00NzgzLWJkZjctMDI4NmUxNWViMjYwXkEyXkFqcGdeQXVyMTcyODY2NDQ@._V1_.jpg" alt="Description of the image">
     <img src="https://m.media-amazon.com/images/M/MV5BZTIyNzk0MTktNjBjNi00ODNhLThlMWUtY2VhZjU0OWE3MWQ3XkEyXkFqcGdeQXVyMTcyODY2NDQ@._V1_.jpg" alt="Description of the image">
     <img src="https://i.ytimg.com/vi/yRby4KNau8U/sddefault.jpg" alt="Description of the image">
     <img src="https://dearmrgable.com/blog/wp-content/uploads/2018/11/men125w.jpg" alt="Description of the image">
     <img src="https://m.media-amazon.com/images/M/MV5BYjg1ODAzYzItMTFmYy00OTk0LWE0NmYtZjVhNGNmZDQ2NTI1XkEyXkFqcGdeQXVyMTcyODY2NDQ@._V1_.jpg" alt="Description of the image">
     <img src="https://isitinterestingblog.files.wordpress.com/2017/06/meninwhite.jpg" alt="Description of the image">
     <img src="https://m.media-amazon.com/images/M/MV5BMTNjMTNmMGYtMWQ5Yi00NTE0LWJlOTktYjUwYjAyMGRhMTczXkEyXkFqcGdeQXVyMTcyODY2NDQ@._V1_.jpg" alt="Description of the image">
    <!--<img src="{% static 'path_to_your_image.jpg' %}" alt="Description of the image">-->
  </div>
    
    <h2>Production Details:</h2>
    <ul>
      <li><strong>Directed by:</strong> Ryszard Bolesławski</li>
      <li><strong>Screenplay by:</strong> Waldemar Young</li>
      <li><strong>Based on:</strong> "Men in White" (1933 play) by Sidney Kingsley</li>
      <li><strong>Produced by:</strong> Monta Bell</li>
      <li><strong>Starring:</strong> Clark Gable, Myrna Loy</li>
      <li><strong>Cinematography:</strong> George J. Folsey</li>
      <li><strong>Edited by:</strong> Frank Sullivan</li>
      <li><strong>Music by:</strong> William Axt</li>
      <li><strong>Production Company:</strong> Metro-Goldwyn-Mayer</li>
      <li><strong>Release Date:</strong> April 6, 1934</li>
      <li><strong>Running Time:</strong> 74 minutes</li>
      <li><strong>Country:</strong> United States</li>
      <li><strong>Language:</strong> English</li>
      <li><strong>Box Office:</strong> $1.45 million (worldwide rentals)</li>
    </ul>
    
    <h2>Cast:</h2>
    <ul>
        <li><strong>Clark Gable</strong> as Dr. George Ferguson</li>
        <li><strong>Myrna Loy</strong> as Laura Hudson</li>
        <li><strong>Jean Hersholt</strong> as Dr. Hochberg</li>
        <li><strong>Elizabeth Allan</strong> as Barbara Denham</li>
        <li><strong>Otto Kruger</strong> as Dr. Levine</li>
        <li><strong>C. Henry Gordon</strong> as Dr. Cunningham</li>
        <li><strong>Russell Hardie</strong> as Dr. Michaelson</li>
        <li><strong>Wallace Ford</strong> as Shorty</li>
        <li><strong>Henry B. Walthall</strong> as Dr. McCabe</li>
        <li><strong>Russell Hopton</strong> as Dr. Pete Bradley</li>
        <li><strong>Samuel S. Hinds</strong> as Dr. Gordon</li>
        <li><strong>Frank Puglia</strong> as Dr. Vitale</li>
        <li><strong>Leo Chalzel</strong> as Dr. Wren</li>
        <li><strong>Donald Douglas</strong> as Mac</li>
        <li><strong>Berton Churchill</strong> as John Hudson (uncredited)</li>
        <li><strong>Ann Gillis</strong> as Flower Girl (uncredited)</li>
    </ul>
      
    
    
    
    
 

</main>
</body>

{% else %}
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1><br>

        <form method="POST" action="{%url 'home'%}">
            {% csrf_token %}
            <form>

                <div class="mb-3">
                  <input type="text" class="form-control" name="User_name" placeholder="First name" required>
                </div>

                <br>
                <div class="mb-3">
                  <input type="password" class="form-control" name="password" placeholder="password" required>
                </div>

                <br>    
                <button type="submit" class="btn btn-secondary">Login</button>

              </form>
        </form>

    </div>
{% endif %}
{% endblock %}